body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:  #DBFFD6;
  animation: mymove 5s infinite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  border: 1px solid red;
  display: block;
  max-width: 50vw;
  max-height: 50vh;
}

@keyframes mymove {
  0% {background-color: rgba(0,0,0,.3);}
  50% {background-color: rgba(0,0,0,.7);}
  100% {background-color: rgba(0,0,0,.3);}
}